// Colors
$defaultTextColor: black;
$defaultNotImportantColor: rgb(57, 57, 57);

$defaultProductText: black;
$defaultProductTextHover: lighten($defaultProductText, 30);

$addProductButtonBG: rgba(57, 57, 57, 0.464);
$addProductButtonBGHover: rgb(57, 57, 57);